{% set page = 'settings' %}
{% extends "base.html.j2" %}
{% set title %}Available Voices - {{ config.STORE_NAME }}{% endset %}
{% from 'macros/voices.html.j2' import render_voices with context %}
{% block content %}

{% include 'includes/app_heading.html.j2' %}
{% include 'includes/app_sidebar.html.j2' %}

<div id="content" class="app-content">
  <!-- BEGIN container -->
  <div class="container">
    <!-- BEGIN row -->
    <div class="row justify-content-center">
      <!-- BEGIN col-10 -->
      <div class="col-xl-10">
        <!-- BEGIN row -->
        <div class="row">
          <!-- BEGIN col-9 -->
          <div class="col-xl-9">
            {% include 'includes/add_content.html.j2' %}
          </div>
          <!-- END col-9-->
        </div>
        <!-- END row -->

        <!-- BEGIN col-3 -->
        <div class="col-xl-3">
          <!-- BEGIN #sidebar-bootstrap -->
          <nav id="sidebar-bootstrap" class="navbar navbar-sticky d-none d-xl-block">
            <nav class="nav">
              <a class="nav-link" href="#enter-url" data-toggle="scroll-to">Enter a URL</a>
              <a class="nav-link" href="#email" data-toggle="scroll-to">E-Mail Links or Text</a>
              <a class="nav-link" href="#enter-text" data-toggle="scroll-to">Enter Text</a>
              <a class="nav-link" href="#extension" data-toggle="scroll-to">Chrome Extension</a>
            </nav>
          </nav>
          <!-- END #sidebar-bootstrap -->
        </div>
        <!-- END col-3 -->

      </div>
      <!-- END col-10 -->
    </div>
    <!-- END row -->
  </div>
  <!-- END container -->

</div>

<a href="#" data-toggle="scroll-to-top" class="btn-scroll-top fade"><i class="fa fa-arrow-up"></i></a>

{% endblock %}