{% set page = 'app' %}
{% extends "base.html.j2" %}
{% set title %}Application Dashboard - {{ config.STORE_NAME }}{% endset %}
{% from 'macros/errors.html.j2' import render_errors %}


<div id="app" class="app">
{% block content %}

  {% include 'includes/app_heading.html.j2' %}
  {% include 'includes/app_sidebar.html.j2' %}

  <div id="content" class="app-content" data-total-episodes="{{ total_episodes }}">

    {% if over_limit %}
      <div class="d-block w-100 mb-4">
        {{ render_errors(["You have reached your plan limit for episodes this month"]) }}
      </div>
    {% endif %}

    {% include 'includes/podcast_feed_url.html.j2' %}

    <p class="my-4"></p>

    <div class="d-flex align-items-center mb-3">
      <div>
        <h1 class="page-header mb-0">Your Podcast Episodes</h1>
      </div>
    </div>

    <div class="card p-4" style="min-height: 40vh">

      {% if queue and queue | length %}
        {% include 'partials/profile/queue.html.j2' %}
      {% else %}
        <div class="card-body">No episodes.  <a href="/app/content">Add some episodes</a> to your podcast feed!</div>
      {% endif %}

      <div class="card-arrow">
        <div class="card-arrow-top-left"></div>
        <div class="card-arrow-top-right"></div>
        <div class="card-arrow-bottom-left"></div>
        <div class="card-arrow-bottom-right"></div>
      </div>
    </div>

  </div>

{% endblock %}
</div>