{% set page = 'digitalaccessibility' %}
{% set title %}{{ config.STORE_NAME }} Digital Accessibility Statement{% endset %}
{% extends "base.html.j2" %}

{% block content %}

{% include 'includes/heading.html.j2' %}


<div id="app">
  <div class="container my-4">

    <h1>Digital Accessibility Statement</h1>

    <p>
    ClipCast, operated by The White Room Web Development, Inc., is committed to ensuring digital accessibility for everyone, including individuals with disabilities. We strive to create an inclusive and user-friendly digital experience that accommodates all users, regardless of ability or technology.
    </p>

    <h2>Our Accessibility Efforts</h2>

    <p>
    To provide a website that meets accessibility standards, we are:
    </p>
    <ul>
    <li>Adhering to recognized best practices and guidelines, including the Web Content Accessibility Guidelines (WCAG) 2.1 at the AA level.</li>
    <li>Regularly testing and auditing our website to identify and address potential accessibility issues.</li>
    <li>Continuously improving the accessibility of our content and features to ensure equitable access for all users.</li>
    </ul>

    <h2>Features and Accessibility Accommodations</h2>

    <p>
    Our website includes:
    </p>

    <ul>
    <li>Clear navigation to assist users in finding information easily.</li>
    <li>Text alternatives for non-text content, such as images and videos.</li>
    <li>Compatibility with screen readers, magnifiers, and other assistive technologies.</li>
    <li>Keyboard-friendly navigation and operability for users who cannot use a mouse.</li>
    </ul>

    <h2>Ongoing Commitment</h2>

    <p>
    Digital accessibility is an ongoing process, and we are committed to making continuous improvements. We value feedback from users and welcome suggestions for enhancing accessibility.
    </p>

    <p>
    Need Assistance or Have Feedback?
    </p>

    <p>
    If you experience any difficulty accessing content or functionality on our website, or if you have suggestions for improvement, please <a href="/contact">contact us</a>.
    <p>

    <p>
    When contacting us, please provide a description of the issue and your contact information so we can address it promptly.
    </p>

    <h2>Third-Party Content and Platforms</h2>

    <p>
    While we strive to ensure accessibility across all areas of our website, third-party content or tools we integrate may have varying levels of accessibility. We encourage you to reach out if you encounter any issues with third-party services.
    </p>

    <p>
    Thank you for visiting ClipCast, and we are committed to making our digital presence accessible to all!
    </p>

  </div>
</div>

{% endblock %}