{% set page = 'help' %}
{% set title %}{{ config.STORE_NAME }} Help{% endset %} Help
{% extends "base.html.j2" %}

{% block content %}

{% include 'includes/heading.html.j2' %}

<main class="container my-4" style="min-height: 40vh;">
  <h1>{{ config.STORE_NAME }} Help</h1>

  <div class="row">
    <div class="col-md-9">
      <article class="mt-2">
        <p>
          If you have any trouble with the app, feed free to <a href="/contact">contact us</a>, or you can
          <a href="https://github.com/tarponjargon/clipcast/issues" target="_blank">open an issue on GitHub</a>.
        </p>
        <ul class="mb-5">
          <li class="fs-5"><a href="#overview" data-toggle="scroll-to">What ClipCast Does</a></li>
          <li class="fs-5"><a href="#add-your-feed" data-toggle="scroll-to">How to add your ClipCast feed to your podcast app</a></li>
          <li class="fs-5"><a href="#how-to-add-content" data-toggle="scroll-to">How to add content</a></li>
          <li class="fs-5"><a href="#ai-caveats" data-toggle="scroll-to">AI Text-to-Speech: Pretty good, but not perfect</a></li>
        </ul>


        <a name="overview"></a>
        <h2 id="overview" class="fs-2">What ClipCast Does</h2>
        <p>
          ClipCast turns web content that you provide (links or text) into natural-language audio and
          puts it right into your podcast listening app of choice.
        </p>
        <p>
          <h3 class="fs-4">When would I use it?</h3>
        </p>
        <p>
          Let's say your browsing the web and come across an interesting article that you don't have time to read.
          Simply send the link to ClipCast, and the article will be ready for you to listen to in your podcast app
          on your next walk, drive, or workout.
        </p>
        <p>
          <h3 class="fs-4">Will it read all the clutter on the article web page (like heading, navigation, footer, etc)?</h3>
        </p>
        <p>
          ClipCast clips out just the content from links you provide - excluding ads, menus, footers and comments.
          It then uses AI to convert the text into natural-sounding speech, and then provides it to you in a podcast feed
          compatible with nearly all podcast apps.  Or you can listen to it right on ClipCast.it...no app required!
        </p>
        <p class="pt-3">
          {% include 'includes/diagram.html.j2' %}
        </p>
        <p class="my-5">Here is a short video explaining how ClipCast works:</p>
        <a name="overview-video"></a>
        <p id="overview-video">
          <iframe width="100%" height="475" src="https://www.youtube.com/embed/27os7ylO88E?si=gkVLolL_Q5Dj_VPR" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </p>

        <a name="add-your-feed"></a>
        <p class="py-4">
          &nbsp;
        </p>

        <h2 id="add-your-feed" class="mb-3">How to add your ClipCast feed to your podcast app</h2>
        <p class="mb-4">
          ClipCast is compatible with nearly all podcast apps.  Here's how to add your ClipCast feed to your podcast app.
          NOTE: Unfortunately Spotify is the <i>only</i> major podcast app that doesn't support adding RSS feeds.
        </p>

        <p>
          In your <a href="/app">ClipCast dashboard</a> you'll find a link to your podcast feed.
          Simply copy the link...
        </p>
        <p>
          <img
            src="/assets/img/your-podcast-feed.jpg"
            alt="Add your ClipCast feed to your podcast app"
            class="d-block shadow-lg img-fluid"
            style="border-radius: 15px;"
          >
        </p>
        <p>
          ...and paste it into your podcast app's "Add Podcast" form.
          Here is how to do it on Apple Podcasts:
        </p>
        <p>
          <div class="row">
            <div class="col-md-6 text-center">
              <img
                src="/assets/img/apple-podcasts.jpg"
                alt="Add your ClipCast feed to Apple Podcasts"
                class="d-block shadow-lg img-fluid"
                style="border-radius: 15px;"
              >
            </div>
            <div class="col-md-6 text-center">
              <img
                src="/assets/img/apple-podcasts2.jpg"
                alt="Add your ClipCast feed to Apple Podcasts"
                class="d-block shadow-lg img-fluid"
                style="border-radius: 15px;"
              >
            </div>
          </div>
        </p>

        <p class="my-5">
          Here's <a target="_new" href="https://www.thepitch.show/blog/how-to-manually-add-an-rss-feed-to-your-podcast-app-on-desktop-ios-android/">how to add the feed to your specific podcast app</a>.
        </p>

        <a name="how-to-add-content"></a>
        <p class="py-4">
          &nbsp;
        </p>


        <h2 id="how-to-add-content" class="mb-1">How to Add Content</h2>
        <p>
          Once you've added your feed to your podcast app, you'll want to add content to your feed.  Here are a few ways to do it.
          Please note: once you've added content, it may take a few minutes to appear in your podcast app.  Tip: you can refresh the feed in your podcast app to see the new content.
        </p>

        <div class="d-block my-5">
          <h3>From a Link</h3>
          <p>
            To add content from a link, simply paste the link into the "Add Content" form on your
            <a href="/app">ClipCast dashboard</a> (which you will see after login/signup).
          </p>
          <p>
            <img
              src="/assets/img/enter-url-screenshot.jpg"
              alt="Add content from a link"
              class="d-block shadow-lg img-fluid"
              style="border-radius: 15px;"
            >
          </p>
          <p>
            <strong>* Important Note:</strong> ClipCast can only access publicly-available URLs.  I.e. it can't retrieve content protected by a login.
          </p>
        </div>
        <div class="d-block my-5">
          <h3>By E-Mail</h3>
          <p>
            Add content to your feed by e-mailing links or text to a custom email provided for you.  The e-mail is available in your
            <a href="/app">ClipCast dashboard</a>.
          </p>
          <p>
            <img
              src="/assets/img/email-links-screenshot.jpg"
              alt="Add content by E-Mail"
              class="d-block shadow-lg img-fluid"
              style="border-radius: 15px;"
            >
          </p>
        </div>
        <div class="d-block my-5">
          <h3>Paste (or Enter) Text</h3>
          <p>
            To add content from text, simply paste the text into the "Add Content" textarea in the <a href="/app">ClipCast dashboard</a>.
          </p>
          <p>
            <img
              src="/assets/img/add-content-screenshot.jpg"
              alt="Add content from a link"
              class="d-block shadow-lg img-fluid"
              style="border-radius: 15px;"
            >
          </p>
        </div>
        <div class="d-block my-5">
          <h3>With the Chrome Extension</h3>
          <p>
            Chrome desktop users can install the ClipCast Chrome extension to add content from any web page with a single click.
          </p>
          <p>
            <img
              src="/assets/img/chrome-screenshot.jpg"
              alt="Add content from text"
              class="d-block shadow-lg img-fluid"
              style="border-radius: 15px;"
            >
          </p>
        </div>


        <a name="ai-caveats"></a>
        <p class="py-4">
          &nbsp;
        </p>

        <h2 id="ai-caveats" class="mb-3">AI Text-to-Speech: Pretty good, but not perfect</h2>

        <p>
          ClipCast's
          Premium voices
           use AI to convert text to speech.  Given a paragraph of text, the AI will sound as good as a human reading it.  However,
           web pages are much more visual than just text.  Images, graphs, charts and diagrams can cause the AI to stumble.
        </p>

        <p>
          These elements are visual and won't be included in the audio.  So if the text refers to the depictions, it may be a bit confusing.  There are a couple ways to mitigate this:
        </p>

        <ul>
          <li>Before sending the content to ClipCast, glance at the depictions to get the context</li>
          <li>Click the "description" icon in your podcast player where you can find a link back to the original article (where you can see the depictions)</li>
        </ul>

      </article>
    </div>
    <div class="col-md-3">
      <aside id="secondary" class="navbar navbar-sticky widget-area">
        <div class="card border-theme bg-theme bg-opacity-25 w-100">
          <div class="card-header border-theme fw-bold small text-inverse">HELP TOPICS</div>
          <div class="card-body">
            <ul class="list-unstyled">
              <li><a href="#overview" data-toggle="scroll-to">ClipCast Overview</a></li>
              <li><a href="#overview-video" data-toggle="scroll-to">Video Walkthrough</a></li>
              <li><a href="#add-your-feed" data-toggle="scroll-to">Add to Your Podcast App</a></li>
              <li><a href="#how-to-add-content" data-toggle="scroll-to">Add Content</a></li>
            </ul>
          </div>
          <div class="card-arrow">
            <div class="card-arrow-top-left"></div>
            <div class="card-arrow-top-right"></div>
            <div class="card-arrow-bottom-left"></div>
            <div class="card-arrow-bottom-right"></div>
          </div>
        </div>
      </aside>
    </div>
  </div>
</main>

{% endblock %}