{% set page = 'profile' %}
{% extends "base.html.j2" %}
{% set title %}Your Profile - {{ config.STORE_NAME }}{% endset %}
{% block content %}

{% include 'includes/app_heading.html.j2' %}
{% include 'includes/app_sidebar.html.j2' %}

<div id="content" class="app-content" data-url="{{ request.path }}">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-10">
        <div class="row">
          <div class="col-xl-9">
            <div id="general" class="mb-5" hx-ext="response-targets">
              <h4 class="mb-3"><i class="far fa-user fa-fw text-theme"></i> Your Profile</h4>
              <div class="card">
                <div class="list-group list-group-flush">

                  <div
                    id="profile-email"
                    hx-get="/partials/profile-email"
                    hx-trigger="load"
                    hx-swap="innerHTML"
                    hx-on::after-request="
                    if (event.detail.xhr.status === 200 && event.detail.pathInfo.responsePath === '/partials/updateemail') {
                      window.showToast('E-Mail updated successfully');
                    }"
                  ></div>

                  <div
                    id="profile-password"
                    hx-get="/partials/profile-password"
                    hx-trigger="load"
                    hx-swap="innerHTML"
                    hx-on::after-request="
                    if (event.detail.xhr.status === 200 && event.detail.pathInfo.responsePath === '/partials/updatepassword') {
                      console.log(event.detail);
                      window.showToast('Password updated successfully');
                    }"
                  ></div>

                </div>
                <div class="card-arrow">
                  <div class="card-arrow-top-left"></div>
                  <div class="card-arrow-top-right"></div>
                  <div class="card-arrow-bottom-left"></div>
                  <div class="card-arrow-bottom-right"></div>
                </div>
              </div>
            </div>
            <!-- END #general -->

            <div id="plan" class="mb-5">
              <h4><i class="fa fa-headphones fa-fw text-theme"></i> Your Plan</h4>
              <div class="row">
                <div class="col-12 col-md-6 custom-radio">
                  <div class="radiobtn" data-testid="plan-basic">
                    <input
                      type="radio"
                      id="plan-basic"
                      name="plan" value="base"
                      {% if session_safe_get('plan') == 'base' %}checked{% endif %}
                      hx-get="/partials/app/update-plan"
                      hx-trigger="click"
                      hx-target="#dead-end"
                      hx-on::after-request="window.showToast(event.detail.xhr.response, !event.detail.successful);"
                    />
                    <label class="d-flex align-items-center" for="plan-basic">
                      <span class="ps-2">Starter - FREE [<a
                        href="javascript:;"
                        class="text-white"
                        data-bs-toggle="modal"
                        data-bs-target="#myModal"
                        data-bs-url="/partials/base-plan-info">details</a>]
                      </span>
                    </label>
                  </div>
                </div>
                <div class="col-12 col-md-6 custom-radio">
                  <div class="radiobtn" data-testid="plan-premium">
                    <input
                      type="radio"
                      id="plan-premium"
                      name="plan" value="premium"
                      {% if session_safe_get('plan') == 'premium' %}checked{% endif %}
                      hx-get="/partials/app/update-plan"
                      hx-trigger="click"
                      hx-target="#dead-end"
                      hx-on::after-request="window.showToast(event.detail.xhr.response, !event.detail.successful);"
                    />
                    <label class="d-flex align-items-center" for="plan-premium">
                      <span class="ps-2">Premium - ${{ config.PREMIUM_PLAN_COST }}/mo [<a
                        href="javascript:;"
                        class="text-white"
                        data-bs-toggle="modal"
                        data-bs-target="#myModal"
                        data-bs-url="/partials/premium-plan-info">details</a>]</span>
                    </label>
                  </div>
                </div>
              </div>
            </div>

            <!-- BEGIN #payment -->
            <div id="payment" class="mb-5">
              <h4><i class="far fa-credit-card fa-fw text-theme"></i> Payment</h4>
              <div class="card">
                <div class="list-group list-group-flush">
                  <div
                    class="list-group-item d-flex align-items-center p-3"
                    id="payment-status"
                    hx-get="/partials/app/payment-status"
                    hx-trigger="load"
                    hx-swap="innerHTML"
                  >
                  </div>
                </div>
                <div class="card-arrow">
                  <div class="card-arrow-top-left"></div>
                  <div class="card-arrow-top-right"></div>
                  <div class="card-arrow-bottom-left"></div>
                  <div class="card-arrow-bottom-right"></div>
                </div>
              </div>
            </div>

            <!-- BEGIN #notifications -->
            <div id="notifications" class="mb-5">
              <h4 class="mb-3"><i class="far fa-envelope fa-fw text-theme"></i> E-Mail List</h4>
              <div class="card py-2">
                <div class="list-group list-group-flush">
                  <div class="list-group-item d-flex align-items-center">
                    <div class="flex-1 text-break">
                      <div>E-Mail Subscription</div>
                    </div>
                    <div
                      class="form-switch me-4"
                      id="profile-subscription"
                      hx-get="/partials/profile-subscription"
                      hx-trigger="load"
                      hx-swap="innerHTML"
                      hx-on::after-request="
                      if (event.detail.successful && event.detail.pathInfo.responsePath.startsWith('/partials/update-profile-subscription')) {
                        window.showToast('Subscription updated');
                      }"
                    ></div>
                  </div>
                </div>
                <div class="card-arrow">
                  <div class="card-arrow-top-left"></div>
                  <div class="card-arrow-top-right"></div>
                  <div class="card-arrow-bottom-left"></div>
                  <div class="card-arrow-bottom-right"></div>
                </div>
              </div>
            </div>
            <!-- END #notifications -->

          </div>
          <!-- BEGIN col-3 -->
          <div class="col-xl-3">
            <!-- BEGIN #sidebar-bootstrap -->
            <nav id="sidebar-bootstrap" class="navbar navbar-sticky d-none d-xl-block">
              <nav class="nav">
                <a class="nav-link" href="#general" data-toggle="scroll-to">Your Profile</a>
                <a class="nav-link" href="#notifications" data-toggle="scroll-to">Notifications</a>
                <a class="nav-link" href="#payment" data-toggle="scroll-to">Payment</a>
              </nav>
            </nav>
            <!-- END #sidebar-bootstrap -->
          </div>
          <!-- END col-3 -->
        </div>
      </div>
    </div>
  </div>
</div>

<a href="#" data-toggle="scroll-to-top" class="btn-scroll-top fade"><i class="fa fa-arrow-up"></i></a>

{% endblock %}