{% set page = 'profile' %}
{% extends "base.html.j2" %}
{% set title %}Your Profile - {{ config.STORE_NAME }}{% endset %}
{% block content %}

{% include 'includes/app_heading.html.j2' %}
{% include 'includes/app_sidebar.html.j2' %}

<div id="content" class="app-content" data-url="{{ request.path }}">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-10">
        <div class="row">
          <div class="col-xl-9">

            <div id="plan" class="mb-5">
              <h4><i class="fa fa-check-circle fa-fw text-theme"></i> Your Plan</h4>
              <p>
                {% if subscription %}
                  {% if subscription.cancel_at %}
                    <span class="text-danger">
                      Your subscription will cancel on {{ convert_unix_to_date(subscription.get('cancel_at')) }}.
                    </span>
                  {% endif %}
                {% endif %}
              </p>
              <div class="row">

                <div class="col-12 col-md-6 text-center pb-3">
                  {% if  session_safe_get('plan') == 'premium' %}
                    {% include 'includes/plan/base_plan_from_premium.html.j2' %}
                  {% else %}
                    {% include 'includes/plan/base_plan_selected.html.j2' %}
                  {% endif %}
                </div>

                <div class="col-12 col-md-6 text-center pb-3">
                  {% if session_safe_get('plan') == 'premium' %}
                    {% include 'includes/plan/premium_plan_selected.html.j2' %}
                  {% else %}
                    {% include 'includes/plan/select_premium_plan.html.j2' %}
                  {% endif %}
                </div>
              </div>
            </div>



            <div id="general" class="mb-5" hx-ext="response-targets">
              <h4 class="mb-3"><i class="far fa-user fa-fw text-theme"></i> Your Profile</h4>
              <div class="card">
                <div class="list-group list-group-flush">

                  <div
                    id="profile-email"
                    hx-get="/partials/profile-email"
                    hx-trigger="load"
                    hx-swap="innerHTML"
                    hx-on::after-request="
                    if (event.detail.xhr.status === 200 && event.detail.pathInfo.responsePath === '/partials/updateemail') {
                      window.showToast('E-Mail updated successfully');
                    }"
                  ></div>

                  <div
                    id="profile-password"
                    hx-get="/partials/profile-password"
                    hx-trigger="load"
                    hx-swap="innerHTML"
                    hx-on::after-request="
                    if (event.detail.xhr.status === 200 && event.detail.pathInfo.responsePath === '/partials/updatepassword') {
                      console.log(event.detail);
                      window.showToast('Password updated successfully');
                    }"
                  ></div>

                </div>
                <div class="card-arrow">
                  <div class="card-arrow-top-left"></div>
                  <div class="card-arrow-top-right"></div>
                  <div class="card-arrow-bottom-left"></div>
                  <div class="card-arrow-bottom-right"></div>
                </div>
              </div>
            </div>

            <div id="notifications" class="mb-5">
              <h4 class="mb-3"><i class="far fa-envelope fa-fw text-theme"></i> E-Mail List</h4>
              <div class="card py-2">
                <div class="list-group list-group-flush">
                  <div class="list-group-item d-flex align-items-center">
                    <div class="flex-1 text-break">
                      <div>E-Mail Subscription</div>
                    </div>
                    <div
                      class="form-switch me-4"
                      id="profile-subscription"
                      hx-get="/partials/profile-subscription"
                      hx-trigger="load"
                      hx-swap="innerHTML"
                      hx-on::after-request="
                      if (event.detail.successful && event.detail.pathInfo.responsePath.startsWith('/partials/update-profile-subscription')) {
                        window.showToast('Subscription updated');
                      }"
                    ></div>
                  </div>
                </div>
                <div class="card-arrow">
                  <div class="card-arrow-top-left"></div>
                  <div class="card-arrow-top-right"></div>
                  <div class="card-arrow-bottom-left"></div>
                  <div class="card-arrow-bottom-right"></div>
                </div>
              </div>
            </div>

          </div>
          <!-- BEGIN col-3 -->
          <div class="col-xl-3">
            <!-- BEGIN #sidebar-bootstrap -->
            <nav id="sidebar-bootstrap" class="navbar navbar-sticky d-none d-xl-block">
              <nav class="nav">
                <a class="nav-link" href="#plan" data-toggle="scroll-to">Your Plan</a>
                <a class="nav-link" href="#general" data-toggle="scroll-to">Your Profile</a>
                <a class="nav-link" href="#notifications" data-toggle="scroll-to">Notifications</a>

              </nav>
            </nav>
            <!-- END #sidebar-bootstrap -->
          </div>
          <!-- END col-3 -->
        </div>
      </div>
    </div>
  </div>
</div>

<a href="#" data-toggle="scroll-to-top" class="btn-scroll-top fade"><i class="fa fa-arrow-up"></i></a>

{% endblock %}