{% set page = 'resetpassword' %}
{% from 'macros/errors.html.j2' import render_errors %}
{% from 'macros/password_field.html.j2' import render_password_field %}
{% from 'macros/password_confirm_field.html.j2' import render_confirm_password_field %}
{% set title %}Reset Your Password - {{ config.STORE_NAME }}{% endset %}
{% extends "base.html.j2" %}

{% block content %}

{% include 'includes/heading.html.j2' %}

<div id="app" class="app app-full-height app-without-header">
  <div class="register" hx-ext="response-targets">
    <div class="register-content">
      <form
        data-js="updatepassword-form"
        hx-post="/partials/updatepassword"
        hx-trigger="submit"
        hx-target="#response-card"
        hx-target-error="#response-card"
        hx-swap="innerHTML transition:true"
      >
        <h1 class="text-center">Reset Your Password</h1>

        {% if errors | length %}
          {{ render_errors(errors) }}
        {% endif %}

        {% if not errors | length %}
          <div class="mb-3">
            <label class="form-label" for="password-field">Password <span class="text-danger">*</span></label>
            {{ render_password_field() }}
          </div>
          <div class="mb-3">
            <label class="form-label" for="password-confirm-field">Confirm Password <span class="text-danger">*</span></label>
            {{ render_confirm_password_field() }}
          </div>

          <div id="response-card" class="slide-it"></div>

          <div class="mb-3">
            <button
              type="submit"
              class="btn btn-outline-theme btn-lg d-block w-100 hx-disable"
              id="resetpassword-submit-button"
            >
              <span class="default-button-text">Reset Password</span>
              <span id="loading-indicator" class="htmx-indicator">
                Submitting ... <i class="fa fa-spinner fa-spin"></i>
              </span>
            </button>
          </div>

        {% endif %}
      </form>
    </div>
  </div>

</div>

{% endblock %}