{% macro render_password_field(password="", placeholder="") -%}
<input
  type="password"
  name="password"
  id="password-field"
  value="{{ password }}"
  class="form-control form-control-lg bg-opacity-5"
  required="required"
  placeholder="{{ placeholder }}"
  title="Please enter a password 8-32 chars, containing letters and numbers"
  minlength="8"
  maxlength="32"
  pattern="(?=.*?[0-9])(?=.*?[A-Za-z]).+"
  autocomplete="off"
  oninvalid="this.setCustomValidity('Enter a password 8-32 chars, with letters and numbers')"
  onchange="this.setCustomValidity('')"
>
{%- endmacro %}
