{% macro render_confirm_password_field(password="", placeholder="") -%}
<input
  type="password"
  name="password_confirm"
  value="{{ password }}"
  id="password-confirm-field"
  class="form-control form-control-lg bg-opacity-5"
  required="required"
  placeholder="{{ placeholder }}"
  minlength="8"
  maxlength="32"
  autocomplete="off"
  oninvalid="this.setCustomValidity('Please confirm your password')"
  onchange="this.setCustomValidity('')"
>
{%- endmacro %}
