virtualenv_python/
.envrc
node_modules
.dev_db
dev-sql
dev-ssl
.dev_redis
flask_app/templates/includes/assets.inc
__pycache__
.DS_Store
package-lock.json
public_html/
cypress/screenshots
cypress/videos
.viminfo
.cache
.npm
.pki
.ssh
.dev_db/*
dev-sql/02.sql
tmp
.pytest_cache
*.csv
.profile
.bash_profile
.gnupg
.ssh
.bash_logout
.bash_history
.bashrc
*.code-workspace
devserver-startup.log
footer_assets.inc
header_assets.inc
clipcast.sql
push*.sh
config/clipcast*.json
*.log
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
