<div class="list-group-item d-flex align-items-center">
  <div class="flex-1 text-break">
    <div>Password</div>
  </div>
  <div class="flex-1 text-end">
    <a
      href="javascript:;"
      hx-get="/partials/update-password-form"
      hx-trigger="click"
      hx-target="#profile-password"
      hx-swap="innerHTML transition:true"
      class="btn btn-outline-default w-100px"
    >Edit</a>
  </div>
</div>