{% from 'macros/password_field.html.j2' import render_password_field %}
{% from 'macros/password_confirm_field.html.j2' import render_confirm_password_field %}

<div class="w-100 d-flex justify-content-center border-bottom slide-it">
  <div class="col-12 col-md-8 col-lg-6 border p-3 m-md-3">
    <form
      hx-target="#profile-password"
      hx-target-error="#password-update-response"
      hx-put="/partials/updatepassword"
      class="row"
    >
      <div class="col-12 text-start">
        <label
          class="form-label"
          for="password-field"
        >New Password</label>
        {{ render_password_field() }}
        <label
          class="form-label mt-2"
          for="password-confirm-field"
        >Confirm Password</label>
        {{ render_confirm_password_field() }}
      </div>
      <div class="col-12 text-danger my-2" id="password-update-response"></div>
      <div class="col-6">
        <a
          href="javascript:;"
          hx-get="/partials/profile-password"
          hx-trigger="click"
          hx-target="#profile-password"
          hx-swap="innerHTML"
          class="btn btn-outline-default w-100"
        >Cancel</a>
      </div>
      <div class="col-6">
        <button
          type="submit"
          class="btn btn-theme w-100 hx-disable"
          id="password-submit-button"
        >
          <span class="default-button-text">Update</span>
          <span id="loading-indicator" class="htmx-indicator">
            Updating ... <i class="fa fa-spinner fa-spin"></i>
          </span>
        </button>
      </div>
    </form>
  </div>
</div>