<div class="card text-white bg-danger my-4 fs-5 p-2 fade-in">
  <div class="card-body p-1">
    <p class="card-text">
      {% if error %}
        {{ error }}
      {% endif %}
      {% if errors and errors is iterable and errors | length %}
        {% for error in errors %}
          {{ error }}
          {{ '<br />' if loop.index > 1 else ''}}
        {% endfor %}
      {% endif %}
    </p>
  </div>
</div>