<a
  href="/app/payment-portal"
  class="text-decoration-none text-theme"
>
  <div class="w-100 rounded text-center p-3 border border-light">
    <div class="w-100 d-block my-3">
      <i class="fa fa-headphones fa-xl fs-1"></i>
    </div>
    <div class="w-100 d-block">
      <span class="fs-3 fw-bold">Starter Plan</span>
    </div>
    <div class="w-100 d-block">
      <span class="fs-5">
        FREE!
      </span>
    </div>
    <div class="w-100 d-block mb-2">
      <button class="btn btn-lg btn-outline-theme mt-3">Select</button>
    </div>
  </div>
</a>
<div class="w-100 d-block my-2">
  <a
    href="javascript:;"
    class="text-white font-small"
    data-bs-toggle="modal"
    data-bs-target="#myModal"
    data-bs-url="/partials/base-plan-info">plan details</a>
</div>