.htmx-indicator {
  display: none;
}
// styles enabled when there is an active htmx-request
.htmx-request {
  &.hx-disable, .hx-disable {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
  }
  .htmx-indicator {
    display: inline-block;
  }
  .default-button-text {
    display: none;
  }
}

// styles for the hover-text component
.hover-text {
  position: relative;
  font-size: 1em;
  text-decoration: none;
  cursor: pointer;
}

.google-btn {
  background-color: #141c2c;
  border: 2px solid #141c2c;
  border-radius: 3px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: inherit;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
  margin: 20px 0;
  width: 100%;
  img {
    margin-right: 5px;
    width: 20px;
  }
}
.google-btn-ghost {
  background-color: transparent;
  border-color: #bebebe;
  color: #bebebe;
}

.or-divider{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  margin: 0 1em;
  color: #bebebe;
  &::before{
    content: '';
    height: .125em;
    background: #bebebe;
    flex: 1;
    margin: 0 .25em 0 .25em;
  }
  &::after{
    content: '';
    height: .125em;
    background: #bebebe;
    flex: 1;
    margin: 0 .25em 0 .25em;
  }
}

.diagram-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

/* Horizontal layout for larger screens */
.diagram-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Vertical layout for mobile devices */
@media (max-width: 1200px) {
  .diagram-container {
    flex-direction: column;
  }
}