.htmx-indicator {
  display: none;
}
// styles enabled when there is an active htmx-request
.htmx-request {
  &.hx-disable, .hx-disable {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
  }
  .htmx-indicator {
    display: inline-block;
  }
  .default-button-text {
    display: none;
  }
}

// styles for the hover-text component
.hover-text {
  position: relative;
  font-size: 1em;
  text-decoration: none;
  cursor: pointer;
}

