.htmx-indicator {
  display: none;
}
// styles enabled when there is an active htmx-request
.htmx-request {
  &.hx-disable, .hx-disable {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
  }
  .htmx-indicator {
    display: inline-block;
  }
  .default-button-text {
    display: none;
  }
  // #response-card {
  //   display: none;
  // }
}

// styles for the hover-text component
.hover-text {
  position: relative;
  display: flex;
  font-size: 1.5em;
  text-decoration: none;
  cursor: pointer;
}

.hover-text .hover-div {
  visibility: hidden;
}

.hover-text:hover .hover-div {
  visibility: visible;
}