
<h1>Privacy Policy</h1>
<div>
  Your Company Name (“we”, “our”, “us”) is committed to protecting your
  privacy. This Privacy Policy explains how we collect, use, and disclose
  personal information when you visit our website {{ config.STORE_URL }} or use
  our services.
</div>
<div>
  <br/>
</div>
<div>
  1. Information We Collect
</div>
<div>
  <br/>
</div>
<div>
  We may collect the following types of personal information:
</div>
<div>
  <br/>
</div>
<div>
  •       Personal Identification Information: Name, email address, phone
  number, and other contact information.
</div>
<div>
  •       Usage Data: Information about how you use our website, including IP
  addresses, browser type, pages visited, and other browsing statistics.
</div>
<div>
  •       Cookies: Small files placed on your device to improve your user
  experience.
</div>
<div>
  <br/>
</div>
<div>
  2. How We Use Your Information
</div>
<div>
  <br/>
</div>
<div>
  We may use the personal information we collect for various purposes,
  including:
</div>
<div>
  <br/>
</div>
<div>
  •       To provide and maintain our website and services.
</div>
<div>
  •       To communicate with you, respond to inquiries, and provide customer
  support.
</div>
<div>
  •       To improve our website and services based on user feedback and
  analytics.
</div>
<div>
  •       To send promotional materials, newsletters, and other information
  with your consent.
</div>
<div>
  <br/>
</div>
<div>
  3. How We Share Your Information
</div>
<div>
  <br/>
</div>
<div>
  We do not sell, trade, or otherwise transfer your personal information to
  third parties, except for the following:
</div>
<div>
  <br/>
</div>
<div>
  •       Service Providers: We may share your data with trusted third-party
  service providers to assist in providing our services.
</div>
<div>
  •       Legal Requirements: We may disclose your information when required
  by law or to protect our legal rights.
</div>
<div>
  <br/>
</div>
<div>
  4. Cookies and Tracking Technologies
</div>
<div>
  <br/>
</div>
<div>
  We use cookies and similar tracking technologies to enhance your experience
  on our website. You can adjust your browser settings to refuse cookies or
  alert you when cookies are being used, but some parts of the website may not
  function properly.
</div>
<div>
  <br/>
</div>
<div>
  5. Data Security
</div>
<div>
  <br/>
</div>
<div>
  We take reasonable precautions to protect your personal information.
  However, no method of transmission over the Internet is 100% secure, and we
  cannot guarantee its absolute security.
</div>
<div>
  <br/>
</div>
<div>
  6. Your Data Protection Rights
</div>
<div>
  <br/>
</div>
<div>
  Depending on your location, you may have the following rights:
</div>
<div>
  <br/>
</div>
<div>
  •       The right to access, update, or delete your personal data.
</div>
<div>
  •       The right to withdraw consent for data processing.
</div>
<div>
  •       The right to data portability.
</div>
<div>
  <br/>
</div>
<div>
  If you wish to exercise any of these rights, please
  <a onclick="closeModal()" href="{{ config.STORE_URL}}/contact">Contact Us</a>
</div>
<div>
  <br/>
</div>
<div>
  7. Changes to This Privacy Policy
</div>
<div>
  <br/>
</div>
<div>
  We may update this Privacy Policy from time to time. Any changes will be
  posted on this page, and we encourage you to review this page periodically.
</div>
<div>
  <br/>
</div>
<div>
  8. Contact Us
</div>
<div>
  <br/>
</div>
<div>
  If you have any questions or concerns about this Privacy Policy, please
  contact us:
</div>
<div>
  <br/>
</div>
<div>
  •       <a onclick="closeModal()" href="{{ config.STORE_URL}}/contact">Contact Us</a><br>
  •       <a onclick="closeModal()" href="{{ config.STORE_URL}}/unsubscribe">Unsubscribe from our Newsletter</a>
</div>