
<div class="diagram-container text-center">
  <div class="diagram-item">
    <div class="d-block">
      <div class="mb-3 w-100 fs-6 text-theme">Article Processing</div>
      <img
        class="img-fluid"
        style="border-radius: 15px;"
        width="275"
        alt="Image depicting a browser with an article, the content is highlighted"
        src="assets/img/browser-news.jpg"
      >
    </div>
  </div>

  <div class="diagram-item px-3">
    <i class="fa fa-right-long fa-3x text-theme d-none d-xl-block mt-4"></i>
    <i class="fa fa-down-long fa-3x text-theme d-block d-xl-none"></i>
  </div>

  <div class="diagram-item">
    <div class="d-block">
      <div class="mb-3 w-100 fs-6 text-theme">AI Text-to-Speech processing</div>
      <img
        class="img-fluid"
        style="border-radius: 15px;"
        width="275"
        alt="Image depicting AI Text-to-Speech"
        src="assets/img/tts.jpg"
      >
    </div>
  </div>

  <div class="diagram-item px-3">
    <i class="fa fa-right-long fa-3x text-theme d-none d-xl-block mt-4"></i>
    <i class="fa fa-down-long fa-3x text-theme d-block d-xl-none"></i>
  </div>

  <div class="diagram-item">
    <div class="d-block">
      <div class="mb-3 w-100 fs-6 text-theme">Your podcast feed!</div>
      <img
        class="img-fluid"
        style="border-radius: 15px;"
        width="275"
        alt="Image depicting a phone playing a podcast"
        src="assets/img/phone.jpg"
      >
    </div>
  </div>
</div>
