
<p class="mt-1 mb-0">Copy this url and add it to your podcast player.
   [<a href="/help#add-your-feed">help</a>]</p>


<div class="d-flex align-items-center justify-content-start feed-url mt-3">
  <div class="border rounded p-2 d-flex align-items-center gap-2">
    <a
      class="hover-text d-flex align-items-center"
      href="javascript:;"
      onClick="copyToClipboard('podcast-feed-field')"
      title="Click to copy feed URL"
    >
      <img src="/assets/img/rss.png" width="18" alt="RSS" class="me-2">
      <div id="podcast-feed-field">
        {{ session_safe_get('feed_url') }}
      </div>
      <i class="fa fa-copy ms-2"></i>
    </a>
  </div>
</div>
<p class="my-2" style="font-size: 0.8rem; ">
  <em><strong>NOTE: </strong> Unfortunately, Spotify is the only major podcast app that does not support RSS feeds <i class="fa fa-face-frown"></i>.  We recommend literally any other app.</em>
</p>