<div class="d-flex align-items-center mb-3">
  <div>
    <h1 class="page-header mb-0">Your Podcast Feed</h1>
    <p class="mt-1 mb-0">Copy this url and add it to your podcast player.  [ <a href="/docs">help</a> ]</p>
  </div>
</div>

<div class="col-12 col-sm-8 col-md-6 col-xl-5 d-flex align-items-center justify-content-start feed-url">
  <div class="pe-2">
    <a href="{{ session_safe_get('feed_url') }}">
      <img src="/assets/img/rss.png" width="22" alt="RSS">
    </a>
  </div>

  <a class="hover-text" href="javascript:;" onClick="copyToClipboard('podcast-feed-field')">
    <div
      id="podcast-feed-field"
      value="{{ session_safe_get('feed_url') }}"
      class="text-truncate"
      style="max-width: 375px;"
    >
      {{ session_safe_get('feed_url') }}
    </div>
    <div class="hover-div"><i class="fa fa-copy"></i></div>
  </a>
</div>