
<h1><i class="bi bi-lightning-fill text-theme"></i> Quick Start</h1>

<div class="w-100 mt-4 mb-5">
  <h2>1. Update Your Podcast App</h2>
  {% include 'includes/podcast_feed_url.html.j2' %}
</div>

<div class="w-100 mb-5">
  <h2>2. Add Content</h2>
  <p>
    Enter an article link to the "Add URL" form at the top, or click the
    <a href="/app/content">Add Content</a> menu.
    [<a href="/help#how-to-add-content">help</a>]
  </p>
</div>

<div class="w-100 mb-5">
  <h2>3. Start Listening!</h2>
  <p>
    Once you've added content, it will appear in your ClipCast dashboard and your podcast app.  You may need to refresh the feed in the app.
    [<a href="/help#how-to-add-content">help</a>]
  </p>
</div>

<div class="w-100 mb-5">
  <h2>Need Help?</h2>
  <ul>
    <li>
      <a href="/help">Help</a>
    </li>
    <li>
      <a href="/help#overview-video">Video Walkthrough</a>
    </li>
    <li>
      <a href="/contact">Contact Us</a>
    </li>
  </ul>
